:root {
  font-family: roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --sidebar-bg: #1891d2;
}

body {
  margin: 0;
}


.container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content"
  ;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--sidebar-bg);
  color: white;
  padding: 0 3rem;
  font-size: 1.1rem;

  display: grid;
  align-content: start;
  position: sticky;
  top: 0;
}

.sidebar>ul {
  list-style-type: none;
  padding: 0;
  font-weight: bold;
  font-size: 1.5rem;

  display: grid;
  gap: 20px;
}

.header {
  grid-area: header;
  background-color: green;
}

.main-content {
  grid-area: main-content;
  background-color: brown;
}
